footer {
  background-color: var(--primary);
  padding: 20px 0;
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  min-height: 100px;
  p {
    color: var(--light);
  }
}
